<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
</head>
<body>
<style>
    {% include 'admin/pdf/pdf.css' %}
</style>
<div class="document-header">

    <div class="company-block">
        <img src="images/logo_header.png" class="logo">

        <p>
            <strong>RH Digital Studio</strong><br>
            Romain Hartmann - Entrepreneur individuel<br>
            24 Résidence le Chemin Vert<br>
            27940 Le Val d'Hazey<br><br>

            Tél. : 07 43 76 01 40<br>
            contact@rh-digitalstudio.com<br>
            https://rh-digitalstudio.com<br><br>

            SIREN : 107 341 216<br>
            SIRET : 107 341 216 00011<br>
            Code APE : 6209Z
        </p>
    </div>

    <div class="client-block">
        <h3>CLIENT</h3>

        <p>
            {{ intervention.client.firstName }}
            {{ intervention.client.lastName }}<br>

            {{ intervention.client.address ?: 'Adresse non renseignée' }}<br>

            {{ intervention.client.email ?: 'Email non renseigné' }}<br>

            {{ intervention.client.phone ?: 'Téléphone non renseigné' }}
        </p>
    </div>

</div>

<div class="document-title">
    <h1>DEVIS</h1>

    <p>
        N° {{ intervention.quoteNumber }}<br>
        Date : {{ intervention.quoteAt|date('d/m/Y') }}
    </p>
</div>

<div class="box">
    <div class="title">Prestation prévue</div>
    <p>
        Date : {{ intervention.interventionDate|date('d/m/Y H:i') }}<br>
        Type : {{ intervention.type }}<br>
        Matériel : {{ intervention.device ?: 'Non renseigné' }}<br>
        Système : {{ intervention.operatingSystem ?: 'Non renseigné' }}
    </p>
</div>

<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Durée</th>
            <th>Prix</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <strong>{{ intervention.type }}</strong><br>
                Problème : {{ intervention.problem }}<br>
                Prestations prévues  : {{ intervention.actionsDone ?: 'À définir lors de l\'intervention' }}
            </td>
            <td>{{ intervention.duration ?: '-' }}</td>
            <td>{{ intervention.price|number_format(2, ',', ' ') }} €</td>
        </tr>
    </tbody>
</table>

<div class="total">
    <strong>Total TTC :</strong> {{ intervention.price|number_format(2, ',', ' ') }} €
</div>

<p class="vat">
    TVA non applicable - article 293 B du Code général des impôts.
</p>

<p>
    Devis valable 30 jours à compter de sa date d’émission.
</p>

<div class="signature">

    <table class="signature-table">
        <tr>
            <td>
                Signature client précédée de la mention « Bon pour accord »
            </td>

            <td>
                Signature RH Digital Studio
            </td>
        </tr>
    </table>

</div>

<div class="footer">
    RH Digital Studio - Romain Hartmann EI -
    SIRET : 107 341 216 00011 -
    Code APE : 6209Z -
    TVA non applicable, art. 293 B du CGI
</div>

</body>
</html>
